
/*body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}*/

#award {
  display: none;
}

.jumbotron {
  background-color: orange;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
  color: white;
}

.jumbotron p {
  margin: 3px 20px;
  padding: 3px 15px;
}

button {
  margin-top: 10px;
}

#threecol {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#threecol h1 {
  text-align: center;
}

header {
	height: 100px;
	padding: 0 15px;
}
#yosemite {
	float: left;
	padding: 5px 15px;
}

#bahamas {
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#paris{
	padding: 5px 15px;
	float: left;
}

img {
  width: 250px;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
  #yosemite {
    width: 30%;
    float: none;
  }
  #bahamas {
    width: 30%;
    float: none;
  }
  #paris {
    width: 30%;
    float: none;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#yosemite {
		width: auto;
		float: none;
	}

	#bahamas {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#paris {
		width: auto;
		float: none;
	}

}


/* for 980px or less */
@media screen and (max-width: 980px) {

	#threecol {
		width: 94%;
	}
	#yosemite {
		width: 41%;
		padding: 1% 4%;
	}
	#bahamas {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#paris {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header {
		padding: 1% 4%;
	}
}


#yosemite {
	background: #f8f8f8;
}
#paris{
	background: #f0efef;
}
header, #yosemite, #bahamas, #paris{
	margin-bottom: 5px;
}
