.jumbotron {
  background-color: orange;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
  color: white;
}

.jumbotron p {
  margin: 3px 20px;
  padding: 3px 15px;
}

button {
  margin-top: 10px;
}
